:root {
  --main-color: #fff;
  --background-color: #1b1919;
  --accent-color: #545050;
  --font-family-main: "Fira Sans Condensed", sans-serif;
  --font-family-title: Oswald, sans-serif;
  --font-size-main: 18px;
  --font-size-title: 75px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: auto;
  color: var(--main-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  background-color: var(--background-color);
  width: 1200px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
  margin: 133px auto;
}

input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.result {
  position: relative;
  width: 711px;
}

.result__video-container,
.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 16px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 212px;
}

.search-form__fieldset:first-child {
  width: 225px;
  padding-bottom: 9px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__fieldset-title,
.search-form__label-text {
  font-weight: normal;
  font-size: 18px;
}

.search-form__textfield:focus-visible,
.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox::before,
.search-form__submit-button:focus-visible,
.content__list-item:focus-visible {
  outline: 1px solid var(--main-color);
  outline-offset: 1px;
}

.search-form__submit-button:active {
  background-color: var(--accent-color);
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__label-text:hover,
.content__video-card-description-container:hover,
button:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 212px;
}

.search-form__textfield {
  position: absolute;
  left: 0;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  outline: none;
  color: var(--main-color);
  font-weight: normal;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
  color: var(--main-color);
  font-weight: normal;
  font-size: 16px;
}

.search-form__textfield:active {
  border: none;
}

.search-result {
  height: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  padding: 0 139px 20px 0;
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: var(--accent-color);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2px 2px 0 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.button {
  align-self: end;
  width: 194px;
  height: 34px;
  margin-bottom: 3px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 6px 0 0 2px;
}

.content__card-link_current > article {
  background-color: var(--accent-color);
}

.content__video-card-title {
  color: var(--main-color);
  font-family: var(--font-family-title);
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: var(--main-color);
  font-size: var(--font-size-main);
  line-height: 16.2px;
}

.search-form__label {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding-left: 20px;
  cursor: pointer;
}

.search-form__label-text:nth-child(1) {
  visibility: hidden;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid var(--main-color);
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
}
